*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* body section */
body{
    /* font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
/* header Styles here */

.header{
    background-color: #fff8f3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.name{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
}

/* color word */
.word-color{
    color: #FD6E0A;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 80px; */
    margin: 0 160px;
}

nav > ul{
    display: flex;
    /* justify-content: space-between; */
}

nav ul li{
    list-style: none;
    display: flex;
    margin-right: 50px;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: #474744;
}
.hair-me{
    font-family: 'open sens' sans-serif ;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 28px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

/* information areas in header section */
.without-nav-header{
    margin: 30px 30px 30px 160px;
    display: flex;
    align-items: self-end;
    /* padding-bottom: 60px; */
    margin-bottom: 90px;
    justify-content: space-between;
   
}
.text-area{
    max-width: 500px;
}

.hello{
    margin-top: 0;
    padding-top: 0;
}
.hi{
    margin-bottom: 0;
    padding-bottom: 0;
    color:#474744;

}
.download{
    font-weight: 500;
    font-size: 16px;
    background-color: #FD6E0A;
    border: 0;
    color: white;

}
.without-nav-header .profile-pic{
    width: 650px;
    height: 600px;
}



/* This is main section */
